body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main_container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img/sunrise.jpg');
    background-size: cover;
    background-position: center;
}

.quiz_card {
    width: 30rem;
    box-shadow: 0 15px 15px 1px black;
}

.question_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(0,0,0,0.4);
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);    
}

.bg-success, .bg-danger {
    color: white !important;
}